*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to right top, #7e1161, #9f193e, #a34316, #8e6a00, #658b12);
}

img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.carousel{
    box-shadow: 25px 25px 25px rgba(37, 35, 35, 0.6);
    
    height: 530px;
    width: 500px;
    overflow: hidden;
}

.image-container{
    display: flex;
    transform: translateX(0px);
    transition: transform 0.5s ease-in-out;
}


.buttons-container {
    display: flex;
    justify-content: space-between;

}


.btn {
    border:none;
    background-image: linear-gradient(to right, #7e1161, #891334, #7b310f, #5f4600, #3e530f);
    color: white;
    border-radius: 10px;
    padding: 8px;
    width: 49.5%;
    cursor: pointer;
}


.btn:hover{
    opacity: 0.3;
}

